
.content {
    max-width: 860px;
}

@media (max-width: 767px) {
    .title.is-1 {
        font-size: 2.5rem;
    }
    .title.is-2 {
        font-size: 2rem;
    }
    .hero-foot img.partner-logo {
        height: 40px;
    }
}

.content img {
    display: block;
    margin: auto;
}

.content img.inline {
    display: inline;
    margin: 0;
}

.content p, .content ol, .content ul {
    font-size: 1.3em;
}

.content figure figcaption {
    font-size: .875em;
    font-style: normal;
    color: #6c757d;
}

.item {
    display: flex;
    margin-bottom: 40px;
}

.brief {
    color: #6c757d;
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;

    display: -webkit-box;
    max-width: 600px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


.item-thumbnail {
    min-width: 150px;
    padding-right: 30px;
}

.meta {
    font-size: .875rem;
    color: #adb5bd;
}

div.admonition {
    margin: 20px 0px;
    padding: 10px 20px;
    background-color: #e5f7fb;
    border-left: 5px solid #6c757d;;
}

div.admonition tt.xref, div.admonition a tt {
    border-bottom: 1px solid #fafafa;
}

dd div.admonition {
    margin-left: -60px;
    padding-left: 60px;
}

div.admonition p.admonition-title {
    font-weight: 500;
    font-size: 1.2em;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
}

div.admonition p.last {
    margin-bottom: 0;
}

.articles {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}

.articles div.feature-card {
    margin-bottom: 25px;
    height: 380px;
    width: 360px;
}

.articles .feature-card .card-action {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#section2 figure .image img {
    max-width: 200px;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 360px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -160px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.cookie_settings a {
    display: block;
    padding-top: 20px;
    color: #98a9c3;
}
.cookie_settings a:hover {
    color: #fff;
}