<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Params.Title }}, {{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body>
    {{ if ne .Site.Params.preloader false }}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ end }}

    {{ block "main" . }}

    {{ partial "single/single.html" . }}

    {{ if not .Params.no_comments }}
    <div>
      {{ partial "comments.html" . }}
    </div>
    {{ end }}

    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "sidebar.html" . }}

    {{ end }}

    {{ partial "javascript.html" . }}

  </body>
</html>
