<div class="content-wrapper">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <script type="text/javascript">var submitted=false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
                    onload="if(submitted) {window.location='/pages/thankyou';}"></iframe>
            <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdNoYlwLvVNxw0cTEREWnCe2G_IdPFEJi6gG0nRnmo35nQPoA/formResponse" method="post"
                  target="hidden_iframe" onsubmit="submitted=true">
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <input name="entry.1044846676" class="input is-medium" type="text" placeholder="Your Name" required="true">
                    </div>
                    <div class="column is-6">
                        <input name="entry.807803770" class="input is-medium" type="email" placeholder="Your Email"  required="true">
                    </div>
                    <div class="column is-12">
                        <textarea name="entry.767116956" class="textarea" rows="10" placeholder="Tell us what you would like to do with SpiffWorkflow..."  required="true"></textarea>
                    </div>
                    <div class="form-footer has-text-centered mt-10">
                        <button class="button cta is-large primary-btn raised is-clear">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
