<section class="section section is-medium" id="newsletter">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">News Letter</h2>
      <h3 class="subtitle is-5 is-muted">Join our mailing list to get quarterly updates on our progress.</h3>
      <div class="divider is-centered"></div>
    </div>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "na1",
        portalId: "42562038",
        formId: "1c67d053-d29d-4ea7-a426-de96c5ed0d42"
      });
    </script>
  </div>
</section>