{{- $science := .Site.Params.science }}
{{- $title    := index $science "title" }}
{{- $subtitle := index $science "subtitle" }}
{{- $quotes  := index $science "quotes" }}
<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-muted light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
      <div class="owl-carousel owl-carousel-reference">
        {{- range $quotes }}
        <div class="science-item">
          {{ if .image }}
          <a target="_blank" href="{{ .link }}">
            <img src="{{ .image }}" class="reference_image"/>
          </a>
          {{ end }}
          <figure class="reference">
            <blockquote>
              {{ .quote | markdownify }}
            </blockquote>
            <div class="citation">
              <h5>{{ .citation }}</h5>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>



