{{- $science := .Site.Params.science }}
<section class="section section-secondary is-medium" id="section1">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text">Grounded in Science</h2>
      <h3 class="subtitle is-5 light-text">
        We have combined the most heavily researched standard in the field of Business Process Automation with the most popular programming language in the world
        <div class="tooltip"> <sup>1</sup>
          <span class="tooltiptext">TIOBE index, https://www.tiobe.com/tiobe-index/</span>
        </div>
      </h3>
      <div class="divider is-centered"></div>
    </div>
    <!--
        references:
    - ref: 1
    citation: "TIOBE index, https://www.tiobe.com/tiobe-index/"
    - ref: 2
    citation: "K. J. Millman and M. Aivazis, \"Python for Scientists and Engineers,\" in Computing in Science & Engineering, vol. 13, no. 2, pp. 9-12, March-April 2011, doi: 10.1109/MCSE.2011.36."
    - ref: 3
    citation: "PufahlL. et al. \"BPMN in healthcare: Challenges and best practices\", in Information Systems, vol 107, 2922"
    - ref: 4
    citation: "E S Kenne,  \"Challenges Facing Port Logistics in Cameroon, Using The Bpmn Model\", International Journal of Latest Research in Humanities and Social Science (IJLRHSS) Volume 04 - Issue 12, 2021, pp. 174-182"
    - ref: 5
    citation: "Fernandes, Jorge, João Reis, Nuno Melão, Leonor Teixeira, and Marlene Amorim. 2021. \"The Role of Industry 4.0 and BPMN in the Arise of Condition-Based and Predictive Maintenance: A Case Study in the Automotive Industry\" Applied Sciences 11, no. 8: 3438. https://doi.org/10.3390/app11083438"
-->
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-half">
          <div class="feature-card tile-secondary is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title"><h4>BPMN</h4></div>
            <div class="card-icon"><img src="/images/illustrations/icons/bpmn.svg"></div>
            <div class="card-text">
                <p>
                  1000's of articles on the efficacy of BPMN in diverse domains from Health Care<span class="tooltip"><sup>3</sup>
                    <span class="tooltiptext">PufahlL. et al. "BPMN in healthcare: Challenges and best practices", in Information Systems, vol 107, 2922</span>
                  </span>
                  to Lagistics<span class="tooltip"><sup>4</sup>
                    <span class="tooltiptext">E S Kenne, "Challenges Facing Port Logistics in Cameroon, Using The Bpmn Model", International Journal of Latest Research in Humanities and Social Science (IJLRHSS) Volume 04 - Issue 12, 2021, pp. 174-182</span>
                  </span>
                  to Automotive<span class="tooltip"><sup>5</sup>
                    <span class="tooltiptext">Fernandes, Jorge, João Reis, Nuno Melão, Leonor Teixeira, and Marlene Amorim. 2021. "The Role of Industry 4.0 and BPMN in the Arise of Condition-Based and Predictive Maintenance: A Case Study in the Automotive Industry" Applied Sciences 11, no. 8: 3438. https://doi.org/10.3390/app11083438</span>
                  </span>
                  .
                </p>
            </div>
          </div>
        </div>
        <div class="column is-one-half">
          <div class="feature-card tile-secondary is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title"><h4>Python</h4></div>
            <div class="card-icon"><img src="/images/illustrations/icons/python.svg"></div>
            <div class="card-text">
              <p>
                Python has arguably become the de facto standard for exploratory, interactive, and computation-driven scientific research<span class="tooltip"><sup>2</sup>
                <span class="tooltiptext">"K. J. Millman and M. Aivazis, "Python for Scientists and Engineers" in Computing in Science & Engineering, vol. 13, no. 2, pp. 9-12, March-April 2011, doi: 10.1109/MCSE.2011.36."</span>
              </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>