{{ define "main" }}
    <p style="text-align: center">
      <a href="https://www.producthunt.com/posts/spiffworkflow?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-spiffworkflow" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=423201&theme=light" alt="SpiffWorkflow - Visual&#0032;Workflow&#0032;Builder | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
    </p>
    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.section1 }}
    {{ partial "section1.html" . }}
    {{ end }}

    {{ partial "science.html" . }}

    {{ if .Site.Params.section2 }}
    {{ partial "section2.html" . }}
    {{ end }}

    {{ if .Site.Params.contact }}
    {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.section4 }}
    {{ partial "section4.html" . }}
    {{ end }}

    {{ if .Site.Params.section5 }}
    {{ partial "section5.html" . }}
    {{ end }}

    {{ if .Site.Params.section6 }}
    {{ partial "section6.html" . }}
    {{ end }}

    {{ if .Site.Params.newsletter }}
    {{ partial "newsletter.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}
    
{{ end }}
