{{- $title := .Get "title" -}}
{{- $os := .Get "os" -}}
{{- $ent := .Get "ent" -}}

<tr>
  <td><b>{{$title}}</b> - ✅ ✅
    {{ .Inner | markdownify }} ✅ ✅
  </td>
  <td>
    {{ if eq $os "infinity" }}
      <img src="/images/features/icons/infinity.svg"/>
    {{else if eq $os "true"}}✅
      <img src="/images/features/icons/check.svg"/>
    {{ else if eq $os "false"}}
      <img src="/images/features/icons/x.svg"/>
    {{ else }}
      {{$os}}
    {{ end }}
  </td>
  <td>
    {{ if eq $ent "infinity" }}
    <img src="/images/features/icons/infinity.svg"/>
    {{else if eq $ent "true"}}✅
    <img src="/images/features/icons/check.svg"/>
    {{ else if eq $ent "false"}}
    <img src="/images/features/icons/x.svg"/>
    {{ else }}
    {{$ent}}
    {{ end }}
  </td>
</tr>
