{{- $science := .Site.Params.science2 }}
{{- $title    := index $science "title" }}
{{- $subtitle := index $science "subtitle" }}
{{- $quotes  := index $science "quotes" }}
<section class="section is-medium section-secondary" id="section4">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      {{- with $subtitle }}
      <h3 class="subtitle is-muted light-text">{{ . }}</h3>
      {{- end }}
    </div>

    <div class="content-wrapper">
        {{- range $quotes }}
        <figure class="reference">
          <blockquote>
            {{ .quote }}
          </blockquote>
          <div class="author">
            <a href="{{ .link }}"><img src="{{  .image }}" alt=""/></a>
            <br/>
            <a href="{{ .link }}" class="button btn-align-md accent-btn raised">{{ .buttonText }}</a>
          </div>
        </figure>
        {{- end }}
    </div>
  </div>
</section>



